@media (min-width: 960px){
  .project-thumb {
    object-fit: cover;
    width: 300px;
    height: 200px;
    margin: 1rem;
  }

  .project-thumb:hover {
    filter:drop-shadow(3px 3px 10px gray);
  }
}

@media (max-width: 960px){
  .project-thumb {
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 1rem;
  }
}



